/*----------------------------------------------------------------------------------
* about: 样式的覆盖/扩展
* ----------------------------------------------------------------------------------*/
:root {
  --color: #212121;
  --theme-color: #2386ee;

  color: var(--color);
}

a {
  color: var(--theme-color);
}
