{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    // `style: true` 会加载 less 文件
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ],
  "ignore": []
}
