/*------------------------------------------------------------------------------------------------------------------
about：此文件是样式标准，用变量的形式来统一
author：马兆铿
date：2017-11-14
------------------------------------------------------------------------------------------------------------------*/
/*字体方案*/
@fontSize_M: 0.44rem;

@fontColor_normal: #121212;

@color_active: #17D1A5;
@color_bg: #F6F7FB;
@color_border: #DDDFE8;